body{
	background-color: LightBlue; /*#ADD8E6;*/
	font-family: arial, helvetica, serif;
	font-size: 12px;
}

h1{
	margin-left:5%;
}

fieldset{
	background-color: SteelBlue;
	color: white;
}

legend{
	background-color: SteelBlue;
	color: white;
	padding: 2px 20px 2px 20px;
}

p{
	font-size: 16px;
}

.botoes{
    background-color: LightBlack;
    font-weight: bold;
    font-size:20px;
    height: 12%;
    width:49%;
}

.bothover{
    background-color:LightWhite;
}

.limpar{
	background-color:LightYellow;
}

.calcular{
	background-color:LightGreen;
}

aside{
    margin-left:25.5%;
     margin-right:25.5%;
}

h2:nth-child(5){
	margin-left:3%;
	float:left;
	/*margin-left:2%;
	margin-right: 3%;
	margin-left: auto;
	margin-right: auto;*/
}
h2:nth-child(6){
    margin-left:56%;
}

div{
    clear:left;
}

#CalculaValores{
    display:none;
    
}
#SimulaValores{
    display:none;
}

#pjuridica{
    display: none;
}
#PFisica{
    display:none;
}
#Escolha{
    display:none;
}
#mostraCalcResul{
    display:none;
    font-weight: bold;
    padding-top: 3%;
    font-size: medium;
    font-family: arial, helvetica, serif;
      
}

#mostraSimulResul{
    display:none;
    font-weight: bold;
    padding-top: 3%;
    font-size: medium;
    font-family: arial, helvetica, serif;
}

#mostraSimulResul_pj{
    display:none;
    font-weight: bold;
    padding-top: 3%;
    font-size: medium;
    font-family: arial, helvetica, serif;
}

.Onfocus{
    border: 5px solid greenyellow;
}

.campo{
	width: 200px;
}

#select_estado{
	margin-left: 112px;
}
#select_renda1{
	margin-left: 50px;
}
#select_idade{
	margin-left: 121px;
}
#simula_tipo{
	margin-left: 80px;
}
#simula_categoria{
	margin-left: 168px;
}
#simula_cidade{
	margin-left: 186px;
}
#simula_valor{
	margin-left: 27px;
}
#simula_renda{
	margin-left: 145px;
}
#simula_cpf{
	margin-left: 205px;
}
#simula_nascimento{
	margin-left: 95px;
}
#simula_cnpj{
	margin-left: 195px;
}