body{
	background-color: LightBlue; /*#ADD8E6;*/
	font-family: arial, helvetica, serif;
	font-size: 12px;
}

h1{
	text-align: center;
}

.botoes{
    background-color: LightBlack;
    font-weight: bold;
    font-size:20px;
    height: 12%;
    width:30%;
}

.bothover{
    background-color:LightWhite;
	
}

/*aside{
    border: 1px solid black;
    width: 100%;
    height: auto;
}*/

h2{//simule
	color:blue;
	float:left;
	/*margin-left:2%;
	margin-right: 3%;
	margin-left: auto;
	margin-right: auto;*/
}

div{
    clear:left;
}

#CalculaValores{
    display:none;
}
#SimulaValores{
    display:none;
}

#pjuridica{
    display: none;
}